# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
**/Objects/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.hex

# Other files
*.crf
*.dep
*.sct
*.htm

# Visual Studio Code Folder
*.vscode/

# 示例代码
**/示例代码/*

# Keil Project
**/*.uvoptx

# Keil Listing Folder
**/Listings/*

# FWLIB
**/FWLIB/*

# CORE & CMSIS Folder
**/CORE/*
**/CMSIS/*

# backup folder
**/.backup/*
sync.ffs_db
